body {
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #3e3e3e;
}

a {
  text-decoration: none;
  color: #445261;
}

/*-----------------------------------------| navbar |-----------------------------*/
.navbar {
  color: #080808;
}

.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #080808;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .55s ease-in-out;
}

.middle {
  margin-top: 0px;
}


/* when nav-icon is clicked */

.navbar-toggler .top {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom {
  margin-top: 0px;
  transform: rotate(-135deg);
}

/* collapsed navbar */

.navbar-toggler.collapsed .top {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle {
  opacity: 1;
  filter: alpha(opacity=100)
}

.navbar-toggler.collapsed .bottom {
  margin-top: 20px;
  transform: rotate(0deg);
}

/*------------------------------ | index header | ----------------------------*/

.header-img {
  background: url(https://res.cloudinary.com/drlxdx65k/image/upload/v1669733080/cabin_project/the_slopes_xfn1hn.jpg);
  width: 100%;
  height: 40rem;
}

/*------------------------------ | index countdown | ----------------------------*/


.count-cont h1 {
  font-size: xx-large;
  font-weight: bolder;
  padding: 2rem;
  background-color: aliceblue;
  opacity: 0.6;
}

.count-cont {
  z-index: 1;
 }

.count-cont h1 {
  text-align: center;
}

.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: aliceblue;
  opacity: 0.6;
  padding-bottom: 2rem;
  align-items: center;
}

.day,
.hour,
.min,
.secs {
  font-size: 3rem;
}
/*-------------------------------- | index body | ----------------------------*/

.index-body {
  margin-top: 3rem;
  justify-content: center;
}

.header-message {
  text-align: center;
  margin-bottom: 2rem;
}

.cards-index {
  margin-bottom: 3rem;
}

/*------------------------------ | index card img | ----------------------------*/

.index-img {
  justify-content: center;
}

.salen-body-img {
  padding-left: 10rem;
}

.card-salen-body {
  margin-top: 2.5rem;
  border: none;
}

.oland-body-img {
  padding-left: 10rem;
}
.card-oland-body {
  margin-top: 2.5rem;
  border: none;
}

.image-split-salen {
  width: 300px;
  height: 300px;
  background: url(https://res.cloudinary.com/drlxdx65k/image/upload/v1669323746/cabin_project/mountain_salen__lg_dws9lp.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
  box-shadow: 0 .5rem 2.5rem rgba(0, 0, 0, 0.85);
}

.image-split-salen::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(51, 43, 48, 0.85);
}

.image-split-salen .drapery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.image-split-salen .drapery span {
  width: 20%;
  height: 110%;
  background: url(https://res.cloudinary.com/drlxdx65k/image/upload/v1669704253/cabin_project/snowy_mountains_gfypcm.jpg);
  transition: 0.9s ease-in-out;
  align-items: center;
  background-size: cover;
}

.image-split-salen .drapery span:nth-child(1) {
  background-position: 0%;
}

.image-split-salen .drapery span:nth-child(2) {
  background-position: 25%;
  transition-delay: 0.1s;
}

.image-split-salen .drapery span:nth-child(3) {
  background-position: 50%;
  transition-delay: 0.2s;
}

.image-split-salen .drapery span:nth-child(4) {
  background-position: 75%;
  transition-delay: 0.3s;
}

.image-split-salen .drapery span:nth-child(5) {
  background-position: 100%;
  transition-delay: 0.4s;
}

.image-split-salen:hover .drapery > span {
  transform: translateY(-100%);
}

.image-split-salen:hover .c-wrapper {
  transform: translateY(0%);
  transition: 0.9s ease-in-out;
  transition-delay: 0.1s;
}

.image-split-oland {
  width: 300px;
  height: 300px;
  background: url(https://res.cloudinary.com/drlxdx65k/image/upload/v1669323746/cabin_project/beach_oland_lg_d8d6ih.jpg);
  position: relative;
  overflow: hidden;
  box-shadow: 0 .5rem 2.5rem rgba(0, 0, 0, 0.85);
}

.image-split-oland::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(51, 43, 48, 0.85);
}

.image-split-oland .drapery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.image-split-oland .drapery span {
  width: 20%;
  height: 110%;
  background: url(https://res.cloudinary.com/drlxdx65k/image/upload/v1669323746/cabin_project/beach_oland_lg_d8d6ih.jpg);
  transition: 0.9s ease-in-out;
  align-items: center;
  background-size: cover;
}

.image-split-oland .drapery span:nth-child(1) {
  background-position: 0%;
}

.image-split-oland .drapery span:nth-child(2) {
  background-position: 25%;
  transition-delay: 0.1s;
}

.image-split-oland .drapery span:nth-child(3) {
  background-position: 50%;
  transition-delay: 0.2s;
}

.image-split-oland .drapery span:nth-child(4) {
  background-position: 75%;
  transition-delay: 0.3s;
}

.image-split-oland .drapery span:nth-child(5) {
  background-position: 100%;
  transition-delay: 0.4s;
}

.image-split-oland:hover .drapery > span {
  transform: translateY(-100%);
}

.image-split-oland:hover .c-wrapper {
  transform: translateY(0%);
  transition: 0.9s ease-in-out;
  transition-delay: 0.1s;
}

.c-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 2rem 2rem;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  color: rgb(255, 255, 255);
}

.c-wrapper h3 {
  font-family: cursive;
}


.carousel-inner {
  height: 35rem;
}

.carousel {
  max-width: 800px;
  /* margin-left: 17rem; */
}

/*------------------------------ | cabin salen | --------------------------------*/

.cabin-salen-img {
  height: 30rem;
  width: 100%;
  background: url(https://res.cloudinary.com/drlxdx65k/image/upload/v1669921321/cabin_project/cabinn_salen_fqny46.jpg) no-repeat center center;
 
}

#more-info-btn {
  margin-left: 44%;
}


#more-info {
  margin-top: 1rem;
}

#inquiry-btn {
  margin-left: 42%;
}

/*------------------------------ | cabin oland | --------------------------------*/

.cabin-oland-img {
  height: 30rem;
  width: 100%;
  background: url(https://res.cloudinary.com/drlxdx65k/image/upload/v1669879549/cabin_project/hus_oland_zbmv3p.jpg) no-repeat center center;
}

/* .carousel-oland {
  margin-left: none;
} */

/*------------------------------ | news | --------------------------------*/

.news-img {
  background: url(https://res.cloudinary.com/drlxdx65k/image/upload/v1669743214/cabin_project/news_aeopfd.jpg) center center;
  width: 100%;
  height: 30rem;
  text-align: center;
  white-space: pre;
  color: black;
}

.news-detail {
  margin-top: 3rem;
}

.card-body-news {
  background-color: #c8d9e8;
}

/*------------------------------ | guestbook | ----------------------------*/

.guestbook-img {
  background: url(https://res.cloudinary.com/drlxdx65k/image/upload/v1669739763/cabin_project/guestbook_a7grzx.jpg);
  width: 100%;
  height: 30rem;
  text-align: center;
  white-space: pre;
  color: black;
}

.guestbook-header {
  margin-right: 2rem;
}

.card-guest {
  background-color: #c8d9e8;
}

.sign-reg {
  color: blue ;
}

/*------------------------------ | contact | ----------------------------*/

.contact-img {
  background: url(https://res.cloudinary.com/drlxdx65k/image/upload/v1669907973/cabin_project/cintact_mobile_z3lf4o.jpg) no-repeat center center;
  width: 100%;
  height: 30rem;
}

.question h1 {
  margin-top: 3rem;
padding-bottom: 2rem;
}

.thanks {
  margin-top: 3rem;
}

.contact-form {
  margin-top: 3rem;
}
/*------------------------------ | sign in | ----------------------------*/

.sign-in {
  margin: 3rem;
}

/*------------------------------ | sign out | ----------------------------*/

.sign-out {
  margin: 3rem;
}

/*------------------------------ | footer | ----------------------------*/

footer {
  height: 22.5rem;
  margin-top: 5rem;
  background-color: #41464b;
  color: #f8f9fa;
}

.foot {
  margin: 3rem;
  padding-top: 3rem;
}

div#map {
  height: 15rem;
  margin-inline: auto;
  /* border-color: #080808 1px solid; */
}

.card-salen-footer {
  margin-top: 2.5rem;
  border: none;
  text-align: center;
  background-color: unset;
  background-color: #41464b;
} 

.card-map-footer {
  border: none;
  text-align: center;
  background-color: unset;
} 

.card-oland-footer {
  margin-top: 2.5rem;
  border: none;
  text-align: center;
  background-color: unset;
  background-color: #41464b
  ;
}

/*------------------------------ | media queries | ----------------------------*/


/*--------------- | screens from 1400px and down | ---------------------*/

@media screen and (max-width: 1400px) {
  /* .carousel {
    max-width: 800px;
    margin-left: 12rem;
  }
} */

/*--------------- | screens from 1100px and down | ---------------------*/

@media screen and (max-width: 1100px) {
  .carousel-salen {
    max-width: 800px;
    /* margin-left: 4.5rem; */
  }

  /* .carousel-oland {
    margin-left: 3rem;
  } */

  .cabin-salen-img {
    height: 30rem;
    width: 100%;
    background: url(https://res.cloudinary.com/drlxdx65k/image/upload/v1669921076/cabin_project/cabinn_salen_tablet_vayset.jpg) no-repeat center center;
  }

  #more-info-btn {
    margin-left: 41%;
  }

  #inquiry-btn {
    margin-left: 38.5%;
  }

  .contact-img {
    background: url(https://res.cloudinary.com/drlxdx65k/image/upload/v1669908889/cabin_project/cintact_responsive_ubixol.jpg) no-repeat center center;
    width: 100%;
    height: 25rem;
  }

  .news-img {
    background: url(https://res.cloudinary.com/drlxdx65k/image/upload/v1669973025/cabin_project/news_tablet_arp7jy.jpg) center center;
    width: 100%;
    height: 25rem;
  }

  .guestbook-img {
    background: url(https://res.cloudinary.com/drlxdx65k/image/upload/v1669972925/cabin_project/guestbook_ttablet_lvg3po.jpg);
    width: 100%;
    height: 25rem;
  }

}

/*--------------- | screens from 770px and down | ---------------------*/

@media screen and (max-width: 770px) {  
  .salen-body-img {
    padding-left: 3rem;
  }

  .oland-body-img {
    padding-left: 3rem;
  }

  .cabin-salen-img {
    height: 30rem;
    width: 100%;
    background: url(https://res.cloudinary.com/drlxdx65k/image/upload/v1669921076/cabin_project/cabinn_salen_tablet_vayset.jpg) no-repeat center center;
  }

  .cabin-oland-img {
    height: 30rem;
    width: 100%;
    background: url(https://res.cloudinary.com/drlxdx65k/image/upload/v1669879549/cabin_project/hus_oland_tablet_rahmvt.jpg) no-repeat center center;
  }

  .card-info-cabin {
    border: none;
  }
  
  /* .carousel {
    margin-left: 0;
  } */

  #more-info-btn {
    margin-left: 40%;
  }

  #inquiry-btn {
    margin-left: 34%;
  }

}

/*--------------- | screens from 450px and down | ---------------------*/

@media screen and (max-width: 450px) {  
  .salen-body-img {
    padding-left: 3rem;
  }
  .oland-body-img {
    padding-left: 3rem;
  }

  .card-salen-footer {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .card-body-sälen {
    margin-top: inherit;
  }

  .card-body-oland {
    margin-top: inherit;
  }
  
  .cabin-salen-img {
    height: 20rem;
    width: 100%;
  }

  .cabin-oland-img {
    height: 20rem;
    width: 100%;
    background: url(https://res.cloudinary.com/drlxdx65k/image/upload/v1669879549/cabin_project/hus_oland_zbmv3p.jpg) no-repeat center center;
  }

  #more-info-btn {
    margin-left: 30%;
  }

  .carousel {
    height: 20rem;
  }

  #inquiry-btn {
    margin-left: 23%;
  }

  .contact-img {
    background: url(https://res.cloudinary.com/drlxdx65k/image/upload/v1669909007/cabin_project/cintact_responsive_small_yxu8xb.jpg) no-repeat center center;
    width: 100%;
    height: 15rem;
  }

  .news-img {
    background: url(https://res.cloudinary.com/drlxdx65k/image/upload/v1669973056/cabin_project/news_mobile_f3yetj.jpg) center center;
    width: 100%;
    height: 25rem;
  }

  .guestbook-img {
    background: url(https://res.cloudinary.com/drlxdx65k/image/upload/v1669972954/cabin_project/guestbook_mobile_ha4zdd.jpg);
    width: 100%;
    height: 25rem;
  }
  
  footer {
    height: 50rem;
    margin-top: 5rem;
  }

  .foot {
    padding-top: 0;
  }
}

/*--------------- | screens from 380px and down | ---------------------*/

@media screen and (max-width: 380px) {  
  .salen-body-img {
    padding-left: 1.5rem;
  }
  .oland-body-img {
    padding-left: 1.5rem;
  }

  #more-info-btn {
    margin-left: 26%;
  }

  #inquiry-btn {
    margin-left: 20%;
  }
}

/*--------------- | screens from 330px and down | ---------------------*/

@media screen and (max-width: 380px) {  
  .salen-body-img {
    padding-left: .5rem;
  }
  .oland-body-img {
    padding-left: .5rem;
  }

  #more-info-btn {
    margin-left: 22%;
  }

  #inquiry-btn {
    margin-left: 18%;
  }
}
}