{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block main %}
<div class="guestbook-img"></div>
    {% if user.is_authenticated %}
<div class="container">

    <br>
    <!------------------ add post form -------------->
        <div class="row d-flex justify-content-center">
            <div class="col-sm-4 col-md-6">
                <div class="guestbook-img-text">
                    <h1>Add your post</h1>
                    <p>Here you can leave comments about the cabins or something else 
                        that you wish to convey to other guests.</p>
                    </div>
                <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <br>
                    <button class="btn btn-success">Post</button>
                </form>
        </div>
    {% else %}
    <!------------------ message when not auth -------------->
    <div class="row d-flex justify-content-center">
        <div class="col-sm-4 col-md-6">
            <br>
            <h2>You are not allowed in here... and I think you know why...</h2>
            <p>Please <a href="{% url 'account_login' %}" class="sign-reg">sign in</a> or <a href="{% url 'account_signup' %}" class="sign-reg">register</a> to access this site.</p>
        </div>
    
    {% endif %}
</div>

<!------------------ script to hide selection for author -------------->
<!------------------ this is set pre set to auth user -------------->
<!------------------ and hidden by this sript -------------->
<script>
    let name = '{{ user.id }}';
    document.getElementById('user_id').value = name;
</script>
</div>

{% endblock %}

