{% extends 'base.html' %}
    
    {% block main %}
        <!-- content for cabin_salen.html -->

        <div class="snow">
        <div class="row">
        <div class='video'>
            <video src="/static/media/video/testvid.mp4" type="mp4" autoplay loop muted></video>
        </div>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
        <div class="container"></div>
            <h1>Welcome to Hattvägen 7 in Linvallen, Sälen.</h1>

        </div>
    </div>    
  </div>
    
    {% endblock main %}
    