{% extends 'base.html' %}
    {% load crispy_forms_tags %}

    {% block main %}
      
<div class="contact-img">
    <div class="row">
    </div>
</div>

<!-- header message -->

    <div class="container question">
        <div class="row">
            <h1>Contact us</h1>
            <br>
                <p>Send us a message with your booking inquiry or if you have 
                another question regading the cabins. Please write which cabin 
                you are interested in booking and the date for arrival and departure.
                <br>
                We'll get back to you as soon as possible, usually within 24 hours.    
                </p>
        </div>
        <div class="row">
            {% if name %}
            <center class="thanks">
                <h3>Thanks for contacting us {{ name }}!</h3>
                    <br>
                <h5>We will get back to you as soon as possible!</h5>
            </center>
            {% else %}

        <!-- contact form -->
        
                <div class="container d-flex justify-content-center">

                    <div class="col-sm-6">
                    <form action="{% url 'contact' %}" method="post"
                        class="contact-form">
                            {% csrf_token %}
                   
                            {{ form | crispy}}
                                <br>
                        <button class="btn btn-success">Send</button>
                    </form>
                </div>
        </div>
    </div>
</div>   
        {% endif %}
    {% endblock main %}
    