{% extends 'base.html' %}
    {% load crispy_forms_tags %}

    {% block main %}

<!--message when contact form sent -->

<div class="contact-img">
    <div class="row">
    </div>
</div>

<br>
{% if user.is_authenticated %}
    <div class="container d-flex justify-content-center">
        <div class="col-sm-6">
            <div class="card text-center">
                <div class="card-header">
                Contact form sent
                </div>
                <div class="card-body">
                <h5 class="card-title">Thank you {{ user.username }} for contacting us!</h5>
                <p class="card-text">We'll get back to you as soon as possible, usually within 24 hours.</p>
                
                </div>
                <div class="card-footer text-muted">
                    <a href="{% url 'home' %}" class="btn btn-primary">Back to Home page</a>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="container d-flex justify-content-center">
        <div class="col-sm-6">
            <div class="card text-center">
                <div class="card-header">
                Contact form sent
                </div>
                <div class="card-body">
                <h5 class="card-title">Thank you {{ user.username }} for contacting us!</h5>
                <p class="card-text">We'll get back to you as soon as possible, usually within 24 hours.</p>
                
                </div>
                <div class="card-footer text-muted">
                    <a href="{% url 'home' %}" class="btn btn-primary">Back to Home page</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
    {% endblock main %}
    