{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block main %}
<div class="guestbook-img"></div>

<!-- edit post if auth -->


<div class="container d-flex justify-content-center">
    <div class="col-sm-6">
        <h1>Edit Post</h1>

            {% if request.user.is_authenticated %}
                {% if request.user == author %}

                    <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class="btn btn-success">Edit</button>
                    </form>
                {% endif %}
            {% endif %}

    </div>
</div>

{% endblock %}