{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block main %}
<div class="guestbook-img"></div>

<!-- edit post if auth -->


<div class="container d-flex justify-content-center">
    <div class="col-sm-6">
        <h1>Edit Post</h1>

            {% if request.user.is_authenticated %}
                {% if request.user == author %}

                    <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <br>
                    <button class="btn btn-success">Edit</button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Delete
                    </button>
                    </form>

                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" 
                                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete news with title: <strong>{{ object.title }}</strong></h1>
                                <br>
                            </div>
                            <div class="modal-body">
                              <p>
                              Are you sure you want to delete this news article? It's pretty nice to read...
                              <br>
                              This action will permanently delete this news article.
                              </p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                              <form action="{% url 'deleted_guest_post' object.pk %}" method="post">
                                {% csrf_token %}
                              <button class="btn btn-danger">Delete</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                {% endif %}
            {% endif %}

    </div>
</div>

{% endblock %}