
{% extends 'base.html' %}

{% block main %}
        <!-- content for guestbook -->

<div class="guestbook-img">
</div>
<br>
<div class="container">
  <div class="row">

  {% if user.is_authenticated %}
  <div class="container d-flex justify-content-center">
    <div class="col-sm-6">
        <div class="card text-center">
            <div class="card-header">
            <h1>Hello {{ user.username }}</h1>
            </div>
            <div class="card-body">
            <h5 class="card-title">Tell us what you think!</h5>
            <p class="card-text">Here you can leave a reveiw about the cabins or something else 
              that you wish to convey to other guests.</p>
            
            </div>
            <div class="card-footer">
              <a href="{% url 'add_guest_post' %}" type="button" class="btn btn-primary">Add Post</a>
            </div>
        </div>
    </div>
  </div>
    {% else %}
    <div class="container d-flex justify-content-center">
      <div class="col-sm-6">
          <div class="card text-center">
              <div class="card-header">
              <h1>Tell us what you think!</h1>
              </div>
              <div class="card-body">
              <p class="card-text">Here you can leave a reveiw about the cabins or something else 
                that you wish to convey to other guests.</p>
                <p>In order to leave a review you need to be <a href="{% url 'account_login' %}">signed in</a> to your account.
                  <br>
              </div>
              <div class="card-footer">
                If you don't have an account you can <a href="{% url 'account_signup' %}">register</a> for an account.</p>
              </div>
          </div>
      </div>
</div>

  {% endif %}

  <!-- new page over 9 cards -->
  
  {% if is_paginated %}
  <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
      </ul>
  </nav>
    {% endif %}

 <!-- reviews -->
  
 <div class="col-12 mt-3 left">
    <div class="row">
    {% for post in object_list %}
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body card-guest">
            <div class="image-container">                  
              <div class="image-flash">
                <p class="author">Author: {{ post.author }}</p>
              </div>
            </div>
              <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text">{{ post.content }}</p>
                <p class="card-text">Category: {{ post.category }}</p>
                  {% if user.is_authenticated %}
                  {% if user.id == post.author.id %}
                    <a href="{% url 'guestbook_manage' post.pk %}" class="btn btn-success">Manage Post</a>
                  {% endif %}
                  {% endif %}
          </div>
        </div>
      </div>
                  
  <!-- new row for cards by 3 -->
  
    {% if forloop.counter|divisibleby:3 %}
  </div>
      <div class="row">
          {% endif %}
          {% endfor %}
      </div>    
      </div>
   
    </div>
  </div>

              <!-- new page over 6 cards -->
        
      {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
    
                {% endif %}
            </ul>
        </nav>
      {% endif %}
</div>
</div>

{% endblock main %}