{% extends "base.html" %}

{% block main %}
<div class="header-img">

  <div class="count-cont">
    <h1>Time until the slopes opens in Lindvallen</h1>
            <div class="countdown">
                <div class="cont-day">
                    <h3 class="day">Time</h3>
                    <h3>Days</h3>
                </div>
                <div class="cont-day">
                    <h3 class="hour">Time</h3>
                    <h3>Hours</h3>
                </div>
                <div class="cont-day">
                    <h3 class="min">Time</h3>
                    <h3>Minutes</h3>
                </div>
                <div class="cont-day">
                    <h3 class="secs">Time</h3>
                    <h3>Seconds</h3>
                </div>
            </div>
    </div>

</div>
<div class="container index-body">
    <div class="row justify-content-center">
        <div class="col-12 header-message">
            <h2>Welcome to StarCabins! When the Cabin is the Star.</h2> 
        </div>
    </div>
</div>
<div class="container d-flex justify-content-around">
  <div class="row row-cols-1 row-cols-md-2 g-4 ">
    <div class="col">
      <div class="card card-salen-body">
        <div class="col-sm-6 salen-body-img">
          <div class="image-split-salen">
              <div class="drapery">
                <span></span><span></span><span></span><span></span><span></span>
              </div>
              <div class="c-wrapper">
                <h3 class="card-title">Sälen</h3>
                <p class="card-text">Located in Linvallen, one of the most popular skiresorts in Sweden. Only 3 minute drive from the 31 slopes that Linvallen has to offer.</p>
                <a href="{% url 'cabin_salen' %}" class="btn btn-primary" role="button">Visit Sälen</a>
              </div>
            </div>
        </div>
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body card-body-sälen">
          <h3 class="card-title">Sälen</h3>
          <p class="card-text text-salen-index">In the wonderful mountains Sälen an exiting world of skiing, experiences, 
                                big events, delightful culture and breathtaking views awaits you here! Snow landscapes 
                                in the winter with skiing and cosy evenings infront of the fireplace or nice 
                                summers with downhill BMX and magical sunsets. <br><br>
                                Sälen has something offer everyone any time of the year! </p>
            <a href="{% url 'cabin_salen' %}" class="btn btn-primary" role="button">Visit Sälen</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-oland-body">
        <div class="col-sm-6 oland-body-img">
          <div class="image-split-oland">
            <div class="drapery">
              <span></span><span></span><span></span><span></span><span></span>
            </div>
            <div class="c-wrapper">
              <h3 class="card-title">Öland</h3>
              <p class="card-text">Want some peace and quiet but with the possibility of some party and? Located only 10 minutes from Borgholm and the beautiful sandy beaches of Köpingsvik.</p>
              <a href="{% url 'cabin_oland' %}" class="btn btn-primary" role="button">Visit Öland</a>
            </div>
          </div>
      </div>
        <div class="card-body card-body-oland">
          <h3 class="card-title">Öland</h3>
          <p class="card-text">There is many reason why you should visit the island of Öland if you get the chance. 
                              How about long sandy beaches, crystal clear water, good food and a lot of tourist attractions.
                              Streching 137 km between the two lighthouses, Långe Jan och Långe Erik, from north to south you can 
                              watch camels, go surfing, eat at Michelin Star restaurants, and watch both sunrises to the east and 
                              sunsets to the west in the same day.</p>
          <a href="{% url 'cabin_oland' %}" class="btn btn-primary" role="button">Visit Öland</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

