{% extends 'base.html' %}
    
    {% block main %}
  
<div class="news-img"></div>
  <!-- content for the clicked post item -->
<div class="container d-flex justify-content-center">
  <div class="col-6 news-detail">
    <h1>{{ object.title }}</h1>
      <p>Posted By: {{ object.author }} on {{ object.created }}</p>
      <p>{{ object.content }}</p>
        <br>
          <a href="{% url 'guestbook' %}" class="btn btn-primary">Back</a>
          {% if request.user == object.author %}
          
          <a href="{% url 'edit_guest_post' object.pk %}" type="button" class="btn btn-success">Edit</a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Delete
        </button>
    {% endif %}
   
  
  <!-- modal triggers when delete button is clicked-->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" 
              data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" 
              aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete post with title: <strong>{{ object.title }}</strong></h1>
          <br>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you want to delete this news article? It's pretty nice to read...
            <br>
            This action will permanently delete this post.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back</button>
          <form action="{% url 'deleted_guest_post' object.pk %}" method="post">
            {% csrf_token %}
          <button class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

    {% endblock main %}
    
