{% extends 'base.html' %}
    
    {% block main %}
  
<div class="news-img"></div>
  <!-- content for the clicked news item -->
<div class="container d-flex justify-content-center">
  <div class="col-6 news-detail">
    <h1>{{ post.title }}</h1>
      <p>Posted By: {{ post.author.first_name }} {{ post.author.last_name }} on {{ post.created }}</p>
      <p>{{ post.content }}</p>
        <br>
          <a href="{% url 'news' %}" class="btn btn-primary">Back</a>
    {% if user.is_authenticated %}
    {% if user.id == 1 %}
          <a href="{% url 'edit_post' post.slug %}" type="button" class="btn btn-success">Edit</a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Delete
        </button>
    {% endif %}
    {% endif %}
  
  <!-- modal triggers when delete button is clicked-->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete news with title: <strong>{{ post.title }}</strong></h1>
          <br>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you want to delete this news article? It's pretty nice to read...
            <br>
            This action will permanently delete this news article.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Back</button>
          <form action="{% url 'deleted_post' post.slug %}" method="post">
            {% csrf_token %}
          <button class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

    {% endblock main %}
    
