{% extends 'base.html' %}
    
{% block main %}
<div class="news-img">
    <div class="guestbook-img-text">
        <h2>Want to know what's up? We try to keep you updated!</h2>
    </div>
</div>
<div class="container">
            <br>
    {% if user.is_authenticated %}
        {% if user.id == 1 %}
            <a href="{% url 'add_post' %}"><button class="btn btn-primary">Add Post</button></a>
        {% endif %}
    {% endif %}
    
        <div class="row">
            <div class="col-12 mt-3 left">
                {% for post in post_list %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="card-img">
                                    <a href="{% url 'news_details' post.slug %}">
                                    <p class="author">Posted By: {{ post.author.first_name }} {{ post.author.last_name}} / {{ post.author }}</p>
                                </div>
                                    <h2 class="post-small-title">{{ post.title }}</h2>
                                    <p class="post-small-text">{{ post.excerpt }}</p>
                                    </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
                {% if forloop.counter|divisibleby:3 %}
            <div class="row">
                    {% endif %}
                {% endfor %}
            </div> 
</div>

{% endblock %}